
@{
    ViewData["Title"] = "Menu";
}

<div class="row" style="text-align:center;">
    

    <div class="col-md-4">
        
        <div>
            <a href="../Client/Index/"><img src="~/img/clientes.png" width="150" height="150" /> <a />
        </div>

        <span> Customers Registration</span>
    </div>

    <div class="col-md-4">

        <div>
            <a href="../Category/Index"><img src="~/img/categorias.png" width="150" height="150" /> <a />
        </div>

        <span> Categories Registration</span>
    </div>


    <div class="col-md-4">

        <div>
            <a href="../Product/Index"><img src="~/img/produtos.png" width="150" height="150" /> <a />
        </div>

        <span> Products Registration</span>
    </div>


</div>
<br />

<div class="row" style="text-align:center;">


    <div class="col-md-4">

        <div>
            <a href="../Sale/Index"><img src="~/img/vendas.png" width="150" height="150" /> <a />
        </div>

        <span> Sale Registration</span>
    </div>

    <div class="col-md-4">

        <div>
            <a href="../Report/Index"><img src="~/img/relatorios.png" width="150" height="150" /> <a />
        </div>

        <span> Reports </span>
    </div>


    <div class="col-md-4">

        <div>
            <a href="../Setting/Index"><img src="~/img/configuracoes.png" width="150" height="150" /> <a />
        </div>

        <span> Settings</span>
    </div>

    <div class="col-md-4">

        <div>
            <a href="../User/Index/"><img src="~/img/clientes.png" width="150" height="150" /> <a />
        </div>

        <span> Users Registration</span>
    </div>

    <div class="col-md-4">

        <div>
            <a href="../Login/Index"><img src="~/img/configuracoes.png" width="150" height="150" /> <a />
        </div>

        <span> Loggout</span>
    </div>


</div>