
@{
    ViewData["Title"] = "Users";

}
@model List<SalesSystem.Entities.User>;

<h2>Customers</h2>

<hr />

<table class="table table-bordered">

    <thead>
        <tr style="background-color:#f977">

            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
           

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="Update(@item.Id)" style="cursor:pointer;">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>


            </tr>
        }

       
    </tbody>
</table>

<br />


<button type="button" class="btn btn-block btn-primary" onclick="Delete()"> Register Customer</button>

<script>

    function Register() {
        window.location = window.origin + "\\User\\Registration";
    }

    function Update(Id) {
        window.location = window.origin + "\\User\\Registration\\" + Id;
    }

</script>